/*------------------------------------------ Background -------------------------------------------------------*/

body{
  background-image: url(../img/background1.jpg);
  background-size: 110%;
}


/*------------------------------------------ Heading -------------------------------------------------------*/

.heading1{
  background-image:linear-gradient(90deg,red, rgb(255, 255, 255),rgb(228, 247, 248),purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  text-shadow: 1px black;
  margin-bottom:5px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* ------------------------------------Chord Dropdown Search -------------------------------------------------*/

#chordSearch{
  text-align: right;
}

#chordSearch select{
  width: 100px;

}

/* ----------------------------------------- Main Table  ----------------------------------------------------------*/

#table1{
  white-space: nowrap;
}

#table1 td{
  text-align:center;
}

#table1 input{
  width:100%;
  box-sizing: border-box;
}

table.dataTable thead, tfoot {
  background-color: rgb(103,141,175);
}

#addEntryForm{
  background-color: rgba(245, 245, 245, 0.884);
}

input {
  text-align: center;
}

#icon1 {
  cursor: pointer;
}


/*--------------------------------------------- Modal Window ----------------------------------------------*/

.modal {
  display: none;
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
}

.editTable{
  margin: 0 auto;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.editInput{
width:100px;
}

.iconEdit{
padding-left:15px;
padding-right:15px;
cursor:pointer;
}

.MixView{
  text-align: center;
}
#AJAXcontent{
  text-align:center;
}

#compatibleSongsTable{
  margin-left: auto;
  margin-right: auto;
}

#icon2, #icon3  {
  cursor: pointer;
}

/*------------------------------------------ Snackbar Message ------------------------------------------------*/

#snackbar {
visibility: hidden;
min-width: 250px;
margin-left: -125px;
background-color: rgb(56, 243, 97);
color: black;
text-align: center;
border-radius: 20px;
padding: 16px;
position: fixed;
z-index: 1;
left: 50%;
bottom: 30px;
font-size: 17px;
}

#snackbar.show {
visibility: visible;
-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
from {bottom: 0; opacity: 0;} 
to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
from {bottom: 0; opacity: 0;}
to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
from {bottom: 30px; opacity: 1;} 
to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
from {bottom: 30px; opacity: 1;}
to {bottom: 0; opacity: 0;}
}
